@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&display=swap");

body {
  font-family: "Edu NSW ACT Foundation", cursive;
}

.page-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/4.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.836);
  box-shadow: rgb(133, 131, 131) 1px 1px 10px;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.title {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-shadow: rgb(87, 94, 87) 2px 2px 10px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  min-height: calc(100vh - 16vh);
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.682);
  padding: 20px;
}

.main-subtitle,
.task-subtitle {
  font-size: 28px;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

.task-subtitle {
  margin-top: -40px;
}

.task-added {
  text-align: center;
  margin-left: 90px;
  color: rgb(49, 151, 105);
  opacity: 0;
  text-shadow: grey 1px 1px 2px;
}

.input {
  width: 75%;
  height: 30px;
  font-family: "Edu NSW ACT Foundation", cursive;
  text-align: center;
  margin: 5px 0 0;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: grey 1px 1px 10px;
  z-index: 100;
}

.add-btn {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 600;
  padding: 6px 18px;
  margin-left: 35px;
  background-color: rgba(137, 221, 183, 0.464);
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: grey 1px 1px 10px;
  transition: all 0.5s ease;
}

.add-btn:hover {
  scale: 1.1;
}

@media screen and (max-width: 534px) {
  .add-btn {
    margin: 10px auto 0;
  }
}

.svg {
  width: 150px;
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
  margin: 0 auto;
}

.task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 54px;
  margin: 10px 6px 5px 0;
  padding: 6px 0;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: grey 1px 1px 10px;
  transition: all 0.4s ease;
}

.btn:hover {
  scale: 1.1;
}

.done {
  background-color: rgba(137, 221, 183, 0.464);
}

.edit {
  background-color: rgba(224, 226, 115, 0.464);
}

.delete {
  background-color: rgba(231, 149, 157, 0.94);
}

.task-done {
  text-decoration: line-through;
}

.task-process {
  text-decoration: none;
}
